* {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.container {
    background: #ffffff;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    /* Flex */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background: #ffffff;
    color: #9D8FBC;
    width: 70%;
    padding-bottom: 3%;
    margin: auto;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


button {
    background: none;
    border: none;
}

.menu {
    width: 40px;
    height: 40px;
    background-image: url(img/menu-full.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

section main {
    width: 270px;
	margin: auto;
	overflow: hidden;
	border-bottom: 12px solid #FA4444;
}

section main figure {
    position: absolute;
    top: 0;
    left: 50px;
    width: 120px;
    margin: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

section main > figure {
    position: relative;
    left: 0 !important;
}

section main img {
    display: block;
    width: 120px;
}

section main input {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100px;
    cursor: pointer;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

section main input:checked {
    width: 5px;
    left: auto;
    right: 0;
}

section main input:checked ~ figure {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    left: 120px;
}


section {
    background: #ffffff;
    width: 70%;
    margin: auto;
    /*Grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

section .door {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-self: start;
    align-self: end;
}

section .couch {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: end;
}

section .about {
    width: 120px;
    height: 140px;
    background-image: url(img/about\ me.svg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
}

section .about:hover {
    background-image: url(img/about\ me-hover.svg);
}


section .phone {
    width: 120px;
    height: 230px;
    background-image: url(img/telefono.svg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    justify-self: end;
    align-self: end;
}

section .phone:hover {
    background-image: url(img/telefono-hover.svg);
}

footer {
    background-image: url(img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 15em;
    color: #63518A;
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

footer div .socialnet {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 2em;
}