* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: #ffffff;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    /* Flex */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background: #ffffff;
    color: #9D8FBC;
    width: 80%;
    margin: auto;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    background: #ffffff;
    border: none;
}

section {
    background: #ffffff;
    width: 80%;
    margin: auto;
    /*Grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

section .door {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

section .couch {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

section .about {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

section .phone {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

footer {
    background-image: url(img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #63518A;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}